* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.site-header {
    background: #878787;
    color: #fff;
}

.menu-item {
    margin-left: 35px;
}

.menu-item a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    color: honeydew;
}

.menu-item a:hover {
    color: #96ebeb;
}

.site-branding,
.site-branding a {
    color: rgb(0, 255, 0);
    text-transform: uppercase;
    text-decoration: none;
}